<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756217552130-e90okuiuig92np8hc4rlv1d3gj33qllc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756217552130-e90okuiuig92np8hc4rlv1d3gj33qllc</string>
	<key>API_KEY</key>
	<string>AIzaSyAMaq0r2e4HKna5qXNCNmpyDI25yAf_JEs</string>
	<key>GCM_SENDER_ID</key>
	<string>756217552130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dayger.dayger</string>
	<key>PROJECT_ID</key>
	<string>dayge-ecd49</string>
	<key>STORAGE_BUCKET</key>
	<string>dayge-ecd49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:756217552130:ios:a7b3573917e3c26466b61b</string>
</dict>
</plist>
